.wsi-btn-step { 
    width: 40px;
    height: 40px;
    background-color: #ffff00;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 16px;
}

.wsi-line-between-steps {
    height: 8px;
    width: 70px;
}

.wsi-active-step {
    background-color: #000088;
    color: #fff;
}

.wsi-inactive-step {
    background-color: #888;
}

.wsi-check-icon {
    width: 30px;
    height: 30px;
    color: green;
}
